{
  "extends": [
    "@thoughtbot/eslint-config",
    "@thoughtbot/eslint-config/typescript",
    "prettier",
  ],
  "plugins": ["prettier", "simple-import-sort"],
  "overrides": [
    {
      // No default exports other than in root files and routes
      "files": ["./app/*/*.{js,jsx,ts,tsx}"],
      "excludedFiles": ["./app/routes/**"],
      "rules": {
        "import/no-default-export": "error",
      },
    },
  ],
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "import/prefer-default-export": "off",
    // Switch off no-underscore-dangle rule as Sanity uses them a lot for internal properties
    "no-underscore-dangle": "off",

    // Prettier rules
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false,
        "printWidth": 80,
        "trailingComma": "all",
      },
    ],
  },
  "ignorePatterns": ["node_modules", "build", ".cache", ".vercel", ".husky/"],
}
